
  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  .poke-ball.icon {
    position: absolute;
    width: 2em;
    height: 2em;
  
    background-color: transparent;
    border: 0.2em solid #333;
  
    border-radius: 50%;
    background-image: linear-gradient(0deg, #fff 0%);
  
    transition: 0.5s ease transform;
  
    
  
    .poke-ball.icon:before,
    .poke-ball.icon:after {
      content: "";
      alt: attr(data-alt);
      position: absolute;
    }
  
    .poke-ball.icon:before {
      top: calc(50% - 0.1em);
      width: 100%;
      height: 0.2em;
      background-color: #333;
    }
  
    .poke-ball.icon:after {
      width: 0.8em;
      height: 0.8em;
      top: calc(50% - 0.4em);
      left: calc(50% - 0.4em);
  
      border-radius: 50%;
      border: 0.2em solid #333;
      color: #fff;
      background-color: #fff;
    }
  }

  .poke-ball.icon:hover {
    transform: rotate(360deg);
  }
  