*{
    padding: 0px;
    margin: 0px;}
body{
    font-family: Consolas, 'Courier New', monospace;
    padding-top: 60px;}


nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    background-color: #20395E;
    height: 50px;
    display: flex;
    align-items: center;}
nav>img{
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    display: none;}
#profile{
    background-color: rgb(236, 236, 236);
    margin: 1%;
    margin-top: 1%;
    margin-bottom: 0%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.id{
    
}
.img>img{
    margin: 5px;
    width: 60px;
    height: 60px;
}
.txt{
    width: 110px;
    margin-left: 10px;
}
.stats{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.stats_info>div{
    display: flex;
    align-items: center;
    margin-left: 10px;
}



.gg-pokemon{
    color: rgb(255, 255, 255);
    animation: rotation 1s infinite linear;
    margin: auto;
}
.see{
    display: block;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }